{
  "adaptor-href-base":"https://1.2.3.4",
  "switches":[{
    "name": "sox-switch",
    "connection-info": {
      "address":"corsa-a",
      "rest_key":"asdfjkl;"},
    "neighbors":[
     {"name":"sox-ig",
      "type":"network",
     {"name":"gatech-ig",
      "type":"network",
      "vlans":[3535, 3536, 3537, 3538, 3539]},
     {"name":"clemson"},
      "type":"network",
      "vlans":[3535, 3536, 3537, 3538, 3539]}]}
]}
    

      
    
      
    