{
  "adaptor-href-base":"https://1.2.3.4:5000/api/v1/",
  "switches":[{
    "name": "sox-switch",
    "connection-info": {
      "address":"https://corsa-a",
      "rest_key":"asdfjkl;"},
    "neighbors":[
     {"name":"sox-ig",
      "port":1,
      "type":"network",
      "vlans":[3535, 3536, 3537, 3538, 3539]},
     {"name":"gatech-ig",
      "port":2,
      "type":"network",
      "vlans":[3535, 3536, 3537, 3538, 3539]},
     {"name":"clemson",
      "port":3,
      "type":"network",
      "vlans":[3535, 3536, 3537, 3538, 3539]}]}
]}
    

      
    
      
    
